{{ if and .Values.enabled (eq .Values.accessMode "sso") }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .Values.grafanaName }}-sso-secret
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: {{ .Values.secretStoreRef}}
    kind: ClusterSecretStore
  target:
    name: {{ .Values.grafanaName }}-sso-secret
    creationPolicy: Owner
  data:
  - secretKey: client-id
    remoteRef:
      key: {{ .Values.clusterName }}/{{ .Values.grafanaName }}/oauth/client-id
  - secretKey: client-secret
    remoteRef:
      key: {{ .Values.clusterName }}/{{ .Values.grafanaName }}/oauth/client-secret
{{ end }}