# Example: Spot instances with G5 only
# This configuration uses only G5 instances with spot capacity for cost savings

nodepool:
  enabled: true
  name: gpu-spot-g5
  
  disruption:
    consolidationPolicy: WhenEmptyOrUnderutilized
    consolidateAfter: 60s
  
  template:
    metadata:
      labels:
        workload.type: gpu
        workload.node-purpose: gpu
        instance-type: g5
        capacity-type: spot
    
    spec:
      expireAfter: 12h
      
      nodeClassRef:
        group: karpenter.k8s.aws
        kind: EC2NodeClass
        name: default
      
      requirements:
        - key: kubernetes.io/arch
          operator: In
          values:
            - amd64
        - key: kubernetes.io/os
          operator: In
          values:
            - linux
        - key: karpenter.sh/capacity-type
          operator: In
          values:
            - spot
        - key: karpenter.k8s.aws/instance-family
          operator: In
          values:
            - g5
        - key: karpenter.k8s.aws/instance-gpu-count
          operator: NotIn
          values:
            - "0"
      
      taints:
        - key: workload.gpu
          value: "true"
          effect: NoSchedule

nvidiaDriver:
  enabled: true
  image:
    repository: nvcr.io/nvidia/k8s-device-plugin
    tag: v0.18.0
    pullPolicy: IfNotPresent

