{{- $global := . -}}
{{ range $serviceName, $serviceValues := .Values.services }}
  {{- $globalValuesDict := $global.Values.global | toYaml -}}
  {{- $values := fromYaml $globalValuesDict -}}
  {{- $values = set $values "name" $serviceName -}}
  {{- $values := mergeOverwrite $values $serviceValues -}}
  {{- $service := dict "Chart" $global.Chart "Release" $global.Release "Capabilities" $global.Capabilities "Values" $values -}}
{{- with $service }}

# Validate that we don't have conflicting ingress approaches: Gateway API and Ingress Controller
{{- include "stack.validateRouting" . -}}

# Only create if .Values.ingress.enabled is true
{{- if .Values.ingress.enabled -}}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "service.fullname" .  }}
  labels:
    {{- include "service.labels" . | nindent 4 }}
    {{- $certManagerAnnotations := (fromYaml (include "certManagerAnnotations" . )) }}
  annotations:
    {{- with (mergeOverwrite 
                (dict)
                ($certManagerAnnotations)
                (.Values.annotations) 
                (.Values.ingress.annotations)
      ) }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - host: {{ $service.Values.ingress.host }}
      http:
        paths:
          {{- range $service.Values.ingress.paths }} 
          - path: {{ .path }}
            {{- if .pathType }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              service:
                {{- include "service.backend" $service | nindent 16}}
          {{- end }}
    {{- $customHosts := list -}}
    {{- range $i, $rule := .Values.ingress.rules -}}
    {{- $ruleValues := mergeOverwrite (dict "host" $service.Values.ingress.host "paths" $service.Values.ingress.paths) $rule -}}
    {{ $customHosts = append $customHosts $ruleValues.host }}
    - host: {{ $ruleValues.host }}
      http:
        paths:
          {{- range $ruleValues.paths }} 
          - path: {{ .path }}
            {{- if .pathType }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              service:
                {{- (include "service.backend" $service) | nindent 16 -}}
          {{ end -}}
    {{- end }}
  tls:
    - hosts:
      - {{ $service.Values.ingress.host  }}
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ .  }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
   {{ if gt (len $customHosts) 0 }}
    - hosts:
      {{- toYaml $customHosts | nindent 6 }}
      {{- $secretName := printf "%s-%s-%s" "custom-hosts" (include "stack.fullname" .) "tls-secret" }}
      secretName: {{  regexReplaceAll "[^a-zA-Z0-9-]" $secretName "-" }}
    {{ end }}
{{ end }}
{{- end }}
{{- end }}
