{{ $global := . }}
{{- with $global.Values.global }}
{{- if ne (trim .appContext.stackContextConfigMapName) "" }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .appContext.stackContextConfigMapName }}
data:
  {{- if and (ne .ingress nil) .ingress.host }}
  __ARGUS_STACK_INGRESS_HOST: {{ .ingress.host | quote }}
  {{- end }}
  {{- if .deploymentStage }}
  __ARGUS_DEPLOYMENT_STAGE: {{ .deploymentStage | quote }}
  {{- end }}
  {{- if ne .argusMetadata nil }}
  {{- if .argusMetadata.appName }}
  __ARGUS_APP_NAME: {{ .argusMetadata.appName | quote }}
  {{- end }}
  {{- if .argusMetadata.envName }}
  __ARGUS_ENV_NAME: {{ .argusMetadata.envName | quote }}
  {{- end }}
  {{- if .argusMetadata.stackName }}
  __ARGUS_STACK_NAME: {{ .argusMetadata.stackName | quote }}
  {{- end }}
  {{- if .argusMetadata.repoName }}
  __ARGUS_REPO_NAME: {{ .argusMetadata.repoName | quote }}
  {{- end }}
  {{- if .argusMetadata.repoOwner }}
  __ARGUS_REPO_OWNER: {{ .argusMetadata.repoOwner | quote }}
  {{- end }}
  {{- if ne .argoBuildEnv nil }}
  {{- if .argoBuildEnv.appNamespace }}
  __ARGUS_APP_NAMESPACE: {{ .argoBuildEnv.appNamespace | quote }}
  {{- end }}
  {{- if .argoBuildEnv.appRevision }}
  __ARGUS_APP_REVISION: {{ .argoBuildEnv.appRevision | quote }}
  {{- end }}
  {{- if .argoBuildEnv.appRevisionShort }}
  __ARGUS_APP_REVISION_SHORT: {{ .argoBuildEnv.appRevisionShort | quote }}
  {{- end }}
  {{- if .argoBuildEnv.appRevisionShort8 }}
  __ARGUS_APP_REVISION_SHORT_8: {{ .argoBuildEnv.appRevisionShort8 | quote }}
  {{- end }}
  {{- if .argoBuildEnv.appSourcePath }}
  __ARGUS_APP_SOURCE_PATH: {{ .argoBuildEnv.appSourcePath | quote }}
  {{- end }}
  {{- if .argoBuildEnv.appSourceRepoUrl }}
  __ARGUS_APP_SOURCE_REPO_URL: {{ .argoBuildEnv.appSourceRepoUrl | quote }}
  {{- end }}
  {{- if .argoBuildEnv.appSourceTargetRevision }}
  __ARGUS_APP_SOURCE_TARGET_REVISION: {{ .argoBuildEnv.appSourceTargetRevision | quote }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}
