apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cluster-healthcheck.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cluster-healthcheck.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "cluster-healthcheck.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "cluster-healthcheck.selectorLabels" . | nindent 8 }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      containers:
      - name: http-echo
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
          - "-text=OK"
          - "-listen=:{{ .Values.service.targetPort }}"
        ports:
        - containerPort: {{ .Values.service.targetPort }}
          name: http
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /health
            port: {{ .Values.service.targetPort }}
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: {{ .Values.service.targetPort }}
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}

