global: # @schema description: Global parameters
  appContext: # @schema description: App context (provided by Argus API)
    envContextConfigMapName: "" # @schema description: Environment level configuration configmap name
    stackContextConfigMapName: "" # @schema description: Stack level configuration configmap name

  appSecrets: # @schema description: App secrets (provided by Argus API)
    envSecret:
      secretName: "" # @schema description: Environment-level Kube secret name to write External Secrets to
      secretKey: "" # @schema description: Environment-level secret key to map External Secrets from
    stackSecret:
      secretName: "" # @schema description: Stack-level Kube secret name to write External Secrets to
      secretKey: "" # @schema description: Stack-level secret key to map External Secrets from
    clusterSecret:
      secretName: "" # @schema description: Cluster-level Kube secret name set by terraform in argus-infra-stacks
      secretKey: "" # @schema description: Cluster-level secret key to map External Secrets from
    clusterCLISecret:
      secretName: "" # @schema description: Cluster-level Kube secret name set by argus set secret CLI command
      secretKey: "" # @schema description: Cluster-level secret key to map External Secrets from

  deploymentStage: "staging" # @schema description: Deployment stage

  ingress: # @schema description: Ingress configuration
    host: "foo.example.co" # @schema description: Ingress host

  argoBuildEnv: # @schema description: Argo built-in environment parameters
    appName: "" # @schema description: equivalant to ARGOCD_APP_NAME (NOT the Argus app name)
    appNamespace: "" # @schema description: equivalant to ARGOCD_APP_NAMESPACE
    appRevision: "" # @schema description: equivalant to ARGOCD_APP_REVISION
    appRevisionShort: "" # @schema description: equivalant to ARGOCD_APP_REVISION_SHORT
    appRevisionShort8: "" # @schema description: equivalant to ARGOCD_APP_REVISION_SHORT_8
    appSourcePath: "" # @schema description: equivalant to ARGOCD_APP_SOURCE_PATH
    appSourceRepoUrl: "" # @schema description: equivalant to ARGOCD_APP_SOURCE_REPO_URL
    appSourceTargetRevision: "" # @schema description: equivalant to ARGOCD_APP_SOURCE_REPO_URL

  argusMetadata: # @schema description: Argus metadata (provided by Argus API)
    appName: "" # @schema description: Set by Argus API to Argus app name (this is the Argus app name, not the ArgoCD app name)
    envName: "" # @schema description: Set by Argus API to Argus environment name
    stackName: "" # @schema description: Set by Argus API to Argus stack name
    repoName: "" # @schema description: Set by Argus API to Argus repository name
    repoOwner: "" # @schema description: Set by Argus API to Argus repository owner
